<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
                <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content" style="background-color: rgb(243, 216, 253);">
            {{>header}}
            <p>This site was created by <a href="https://github.com/palakbathla" style="color:black ; text-decoration:none">Palak Bathla</a>. It uses data from mapbox and openweather api's</p>
            <img class="portrait" src="/img/palak.jpeg" alt="" >
        </div>
        {{>footer}}
    </body>
</html>